# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store
.env
/miniupnpc
/build
/cmake-build-debug
compile_commands.json
CTestTestfile.cmake
/CMakeFiles
Makefile
/tests/CMakeFiles
/src/storage/CMakeFiles
/src/neural/CMakeFiles
/src/evm/CMakeFiles
/src/CMakeFiles
/src/rollup/CMakeFiles
/src/quantum/CMakeFiles/quantum.dir
**/CMakeFiles/**
**/CMakeCache*/**
CMakeFiles/**/*
tests/CMakeFiles
src/CMakeFiles
CMakeCache.txt
tests/CMakeFiles/enhanced_ml_tests.dir/depend.make
tests/CMakeFiles/enhanced_ml_tests.dir/DependInfo.cmake
tests/CMakeFiles/enhanced_ml_tests.dir/flags.make
tests/CMakeFiles/enhanced_ml_tests.dir/link.txt
tests/CMakeFiles/enhanced_ml_tests.dir/progress.make
tests/CMakeFiles/progress.marks
tests/CMakeFiles/rollup_benchmarks.dir/build.make
tests/CMakeFiles/rollup_benchmarks.dir/cmake_clean.cmake
tests/CMakeFiles/rollup_benchmarks.dir/compiler_depend.make
tests/CMakeFiles/rollup_benchmarks.dir/depend.make
tests/CMakeFiles/rollup_benchmarks.dir/DependInfo.cmake
tests/CMakeFiles/rollup_benchmarks.dir/flags.make
tests/CMakeFiles/rollup_benchmarks.dir/link.txt
tests/CMakeFiles/rollup_benchmarks.dir/progress.make
tests/Makefile
